.gradle
.idea
*.iml
build
tomcat.*
out
derby.log
classes
.DS_Store
migrationRepository.xml
*.ipr
*.iws
.settings
.classpath
.project
.vagrant
.metadata
src/main/asset/cms/stylesheet/application-cms-compiled.css
src/main/asset/site/stylesheet/application-site-compiled.css
chromedriver.log
TestingSelenium.java
authoring/src/main/webapp/WEB-INF/style
authoring/src/main/webapp/WEB-INF/script
coverage
/bin
java.io.tmpPath/*
common/java.io.tmpPath/*
node_modules/karma/node_modules/socket.io/node_modules/socket.io-client/lib/vendor
